<!DOCTYPE HTML>
<html>
  <head>
    <title>Crowdsourcing Music</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    <h1>Crowdsourced Generated Music</h1>
    <h4>Select an option to begin.</h4>

    <div class = "main-hub">
      <div class="container">
          <div class ="overlay">
            <button onclick ="return changeMajorKey()"><div class="text">Change to major key</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return changeMinorKey()"><div class="text">Change to minor key</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return increaseVolume()"><div class="text">Increase the volume</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return decreaseVolume()"><div class="text">Decrease the volume</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return increaseTempo()"><div class="text">Increase the tempo</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return decreaseTempo()"><div class="text">Decrease the tempo</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return addBassline()"><div class="text">Toggle Harmony</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return changeInstrument()"><div class="text">Change the MIDI instrument</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return toggleMidiType()"><div class="text">Toggle sequencer<br>🔒</div></button>
          </div>
      </div>

      <div class="container">
          <div class ="overlay">
            <button onclick ="return clearSequencer()"><div class="text">Clear sequencer<br>🔒</div></button>
          </div>
      </div>

    </div>
    <div id="sequencer">

    </div>
  </body>
</html>
